<div class="container" style="margin-top:3em">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Descrição:</strong>
    <%= @office.description %>
  </p>

  <p>
    <strong>Poder:</strong>
    <%= @office.power.description %>
  </p>

  <%= link_to 'Edit', edit_office_path(@office) %> |
  <%= link_to 'Back', offices_path %>
</div>