<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @office.description %>
</p>

<p>
  <strong>Power:</strong>
  <%= @office.power %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
