<div class="container" style="margin-top:3em">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nome:</strong>
    <%= @person.name %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= @person.office.description %>
  </p>

  <p>
    <strong>Partido:</strong>
    <%= @person.party.description %>
  </p>

  <%= link_to 'Edit', edit_person_path(@person) %> |
  <%= link_to 'Back', people_path %>
</div>