<!DOCTYPE html>
<html>
  <head>
    <title>FakenewsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "vendor/bootstrap/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "vendor/fontawesome-free/css/all.min.css" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" %>
    <%= stylesheet_link_tag "css/clean-blog.min.css" %>

  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag "vendor/jquery/jquery.min.js" %>
    <%= javascript_include_tag "vendor/bootstrap/js/bootstrap.bundle.min.js" %>
    <%= javascript_include_tag "js/clean-blog.min.js" %>

  </body>
</html>
